header {
	position: absolute;
    z-index: 99;
    background-color: rgba(203, 189, 189, 0.5);
    width: 100%;
}

.logo {
    width: 100%;
    height: 83px;
}

.header_img,.header_p {
    width: 60px;
    height: 60px;
    float: left;
    margin: 7px 7px 7px 23px;
}

.header_img img {
    width: 100%;
    height: 100%;
    border-radius: 125px;
}

.header_p {
    width: 68px;
    height: auto;
    float: left;
    text-align: center;
    margin-left: 20px;
    font-size: 14px;
}

.header_img img,
.header_p {
    -webkit-box-shadow: 0px 2px 9px #261D1D;
    -moz-box-shadow: 0px 2px 9px #261D1D;
    box-shadow: 0px 2px 9px #261D1D;
}

.header_p >p:nth-child(1) {
    border-bottom: 1px #686161 solid;
    padding-bottom: 8px;
    margin: 6px 0px 0 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.section {
	height: 100%;
	width: 100%;
	text-align: center;
}
/*雪花*/

.snow > div {
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 1;
}

.snow > div:nth-child(1) {
    animation: rotate 2s infinite;
    -webkit-animation: rotate 2s infinite;
}

.snow > div:nth-child(2) {
    animation: rotate 14s infinite;
    -webkit-animation: rotate 14s infinite;
}

.snow > div:nth-child(3) {
    animation: rotate 8s infinite;
    -webkit-animation: rotate 8s infinite;
}

.snow > div:nth-child(4) {
    animation: rotate 1s infinite ease-in-out;
    -webkit-animation: rotate 1s infinite ease-in-out;
}

.snow > div:nth-child(5) {
    animation: rotate 7s infinite;
    -webkit-animation: rotate 7s infinite;
}

.snow > div:nth-child(5) {
    animation: rotate 12s infinite ease-in-out;
    -webkit-animation: rotate 12s infinite ease-in-out;
}

.snow > div:nth-child(6) {
    animation: rotate 2s infinite;
    -webkit-animation: rotate 2s infinite alternate;
}

.snow > div:nth-child(7) {
    animation: rotate 5s infinite;
    -webkit-animation: rotate 5s infinite alternate;
}

.snow > div:nth-child(8) {
    animation: rotate 4s infinite;
    -webkit-animation: rotate 4s infinite;
}

.snow img {
    height: 100%;
    width: 100%;
}


/*顶部*/

header {
    position: absolute;
    z-index: 99;
    background-color: rgba(203, 189, 189, 0.5);
    width: 100%;
}

.logo {
    width: 100%;
    height: 83px;
}

.header_img {
    width: 60px;
    height: 60px;
    float: left;
    margin: 7px 7px 7px 23px;
}

.header_img img {
    width: 100%;
    height: 100%;
    border-radius: 125px;
}

.header_p {
    width: 68px;
    height: auto;
    float: left;
    text-align: center;
    margin-left: 20px;
    font-size: 14px;
}

.header_img img,
.header_p {
    -webkit-box-shadow: 0px 2px 9px #261D1D;
    -moz-box-shadow: 0px 2px 9px #261D1D;
    box-shadow: 0px 2px 9px #261D1D;
}

.header_p >p:nth-child(1) {
    border-bottom: 1px #686161 solid;
    padding-bottom: 8px;
    margin: 6px 0px 0 0;
}

.head_content,
.detail_info,
.skill_info,
.exp_info,
.self_info {
    margin: 0 auto;
    background-image: url(../images/bg.jpg);
    background-size: 100% 100%;
    overflow: hidden;
    height: 100%;
    position: relative;
}


/*第一页内容 */

.my_photo {
    margin: 0 auto;
    margin-top: 90px;
    width: 85%;
    height: 200px;
    position: relative;
    animation: slideInUp 1s;
    -webkit-animation: slideInUp 1s;
}

.my_photo img {
    width: 200px;
    height: 180px;
    border-radius: 125px;
    position: relative;
    border: 2px #CCCCCC solid;
    -webkit-transition: box-shadow 2s;
    transition: box-shadow 2s;
}

.my_photo img:hover {
    -webkit-box-shadow: 0px 0px 10px #FF0000;
    -moz-box-shadow: 0px 0px 10px #FF0000;
    box-shadow: 0px 0px 10px #FF0000;
}

.separation {
    margin: 0 auto;
    width: 80%;
    height: 3px;
    background: #CCCCCC;
    animation: changewidth .5s;
    -webkit-animation: changewidth .5s;
}

.my_info {
    color: #0A0A0A;
    font-size: 16px;
    line-height: 50px;
    font-weight: 600;
}

.info_0,
.info_1 {
    left: -13%;
}

.info_0,
.info_1,
.info_2,
.info_3 {
    position: relative;
    animation: slideInUp 1s;
    -webkit-animation: slideInUp 1s;
}

.info_2,
.info_3 {
    left: 15%;
    height: 50px;
}

.first {
    left: 44%;
    position: absolute;
    -webkit-transition: 400ms;
    transition: 400ms;
}

.translation_left {
    transform: translate3d(-100%,0,0);
    -webkit-transform: translate3d(-100%,0,0);
}
/*第二页*/

.detail {
    color: #000;
    font-weight: bold;
    font-size: 40px;
    position: relative;
    margin-top: 88px;
    animation: slidesize 0.5s;
    -webkit-animation: slidesize 0.5s;
}

.detail_box {
    position: relative;
    width: 50%;
    height: 100px;
    margin: 0 auto;
    font-size: 16px;
}

.detail_box > div {
    width: 200px;
    height: 80px;
    border-radius: 25px;
    background: rgba(44, 36, 36, .7);
    float: left;
    margin: 10px;
}

.detail_content {
    position: relative;
    height: 170px;
    width: 60%;
    margin: 40px auto;
    color: #000;
    font-size: 15px;
}

.detail_content p {
    line-height: 40px;
    position: relative;
}

.detail_content:before {
    top: 0;
    left: 0;
    border-top: 2px solid #5686D6;
    border-left: 2px solid #5686D6;
}

.detail_content:after {
    bottom: 0;
    right: 0;
    border-bottom: 2px solid #5686D6;
    border-right: 2px solid #5686D6;
}

.detail_content:before,
.detail_content:after {
    position: absolute;
    width: 50px;
    height: 50px;
    content: "";
}


/*第三页*/

.skill_box {
    margin: 0 auto;
    width: 50%;
    height: 70%;
}

.skill_info > p {
    color: #000;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    margin-top: 88px;
}

.skill_1,
.skill_2,
.skill_3 {
    position: relative;
    width: 70px;
    float: left;
    margin: 77px;
    z-index: 99;
}

.skill_1 {
    animation: slideInRight 1s;
    -webkit-animation: slideInRight 1s;
}

.skill_2 {
    animation: slideInDown 1s;
    -webkit-animation: slideInDown 1s;
}

.skill_3 {
    animation: slideInLeft 1s;
    -webkit-animation: slideInLeft 1s;
}

.skill_flag {
    margin-left: 20px;
    width: 25px;
    height: 25px;
    background-size: 100% 100%;
    background-image: url(../images/skill_flag.png);
    -webkit-transition: 700ms;
    transition: 700ms;
}

.rotate_180 {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.skill_detail {
    padding: 12px;
    border-radius: 24px;
    margin: 20px -56px;
    width: 200px;
    height: 100px;
    background-color: rgba(0, 0, 0, .5);
    line-height: 20px;
}

.skill_detail.ng-enter{
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
}


.skill_detail.ng-leave{
  animation: fadeOut 1s;
    -webkit-animation: fadeOut 1s;
}


.skill_name {
    cursor: pointer;
}

.skill_detail li {
    font-size: 12px;
    text-align: left;
}


/*第四页*/

.exp_img {
    width: 30%;
    height: 30%;
    margin-top: 88px!important;
}


.exp_detail {
    width: 50%;
    height: 23%;
    margin-top: 30px!important;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 45px;
    text-align: left;
    ;
}


/*音乐播放器*/

.music_box {
    position: absolute;
    z-index: 99;
    width: 280px;
    height: 100px;
    top: 79%;
    background-color: rgba(1, 1, 1, .7);
    border-radius: 0px 10px 10px 0px;
    -webkit-transition: 800ms;
    transition: 800ms;
}

.music_hide {
    transform: translate3d(-280px, 0px, 20px);
    -webkit-transform: translate3d(-280px, 0px, 20px);
}

.box_right {
    position: absolute;
    width: 16px;
    height: 64px;
    left: 280px;
    top: 18px;
    border-radius: 0px 6px 6px 0px;
    cursor: pointer;
}

.box_right span {
    color: rgb(94, 78, 78);
    top: 34%;
    left: 0px;
    -webkit-transition: 800ms;
    transition: 800ms;
}

.box_right:hover {
    background: rgba(104, 96, 115, 0.6)!important;
}

.box_center {
    width: 100%;
    height: 100%;
}

.arrow_left {
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

.music_ctrl {
    position: relative;
    top: 30%;
    text-align: center;
}

.music_ctrl div {
    font-size: 26px;
    width: 60px;
    cursor: pointer;
}

.hide {
    display: none;
}

.progressbar {
    left: 40px;
    height: 1px;
    top: 44px;
    position: relative;
    width: 65%;
    cursor: pointer;
    border: 1px solid;
    border-radius: 2px;
}

.currentPercent {
    height: 1px;
    background: #FFF;
    opacity: 0.5;
    -webkit-transition: width 500ms;
    transition: width 500ms;
}
.point {
    top: -3px;
    background: #FFF;
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 25px;
    -webkit-box-shadow: 0px 0px 10px #FFF7F7;
    -moz-box-shadow: 0px 0px 10px #FFF7F7;
    box-shadow: 0px 0px 10px #FFF7F7;
    -webkit-transition: 500ms;
    transition: 500ms;
}
.music_play span {
    top: 65px;
    position: absolute;
}

.time_left {
   left: 2px; 
}

.time_right {
    right: 20px;
}

.voice{
    position: absolute!important;
    right: 1px;
    top: 68px!important;
    cursor: pointer;
}
.volume {
    border: 1px solid;
    width: 1px;
    height: 45px;
    position: absolute;
    right: 10px;
    bottom: 33px;
}
.volumeBar {
    width: 1px;
    height: 45px;
    background: #fff;
    bottom: 0px;
    position: absolute;
    -webkit-transition: height 200ms;
    transition: height 200ms; 
}
